<p class="homeTitle">LOLta Vista</p>
<a href="/signup" class="signupBtn">Sign Up </a>
<a href="/login" class="loginBtn">Login</a>

<img src="/images/teemo2.jpg" class="teemoHomeImg">

<form method="" action="" id="mainForm">
  <input id="addEntry" class="homeInput" type="text" value="">
  <input type="button" id="btn" value="Search" class="btn btn-info">
  <button type="button" id="btnLive" class="btn btn-danger">Live</button>
</form>