<p class="homeTitle">LOLta Vista</p>

<img src="/images/teemo2.jpg" class="teemoHomeImg">

<form method="" action="" id="mainForm">
  <input id="addEntry" class="homeInput" type="text" value="teemo is iove">
  <input type="button" id="btn" value="Search" class="btn btn-info">
</form>