<div class="container">

<a href="/"><h1 class='liveTitle'>Lolta Vista</h1></a>
<p class="versus">VS.</p>

  <div class="teamOneDiv">
    <ul id="teamOneList">
      <% liveObj.forEach(function(data){%>
        <div class="row">
          <% if (data.teamId === 100){ %>
            <div class="col-sm-2">      
            <li class="teamOneName"><span><%= data.summonerName %></span></li>
          </div>
        <% } %>
      <% }); %>
    </ul>
  </div>
  <div class="teamTwoList">
    <ul id="teamTwoList">
      <% liveObj.forEach(function(data){%>  
          <% if (data.teamId === 200){ %>
            <div class="col-sm-2">
              <li class="teamTwoName"><span><%= data.summonerName %></span></li>
            </div>
        <% } %>
      <% }); %>
    </ul>
  </div>
  </div>
</div>



