<div class="container">
  <h1>Account Settings</h1>
  <br><br>
  <p><strong>Delete your account</strong></p>
  <br>
  
  <form method="POST" action="/profile">
    <input type="text" name="username" placeholder="Summoner's name">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>