<div class="container">
  <a href="/" id="homeButton">LOLta Vista</a>

  <div class="signupDiv">
    <h1>Sign Up / Login </h1>
    <form action="/signup" method="POST">
      <div class="form-group">
        <label for="authName">Name</label>
        <input id="authName" class="form-control" type="text" name="name">
      </div>
      <div class="form-group">
        <label for="authPassword">Password</label>
        <input id="authPassword" class="form-control" type="password" name="password">
      </div>
      <input class="btn btn-primary" type="submit">
    </form>
  </div>
</div>