@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
@import 'https://fonts.googleapis.com/css?family=Cantarell';
@import 'https://fonts.googleapis.com/css?family=Hind';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';
@import 'https://fonts.googleapis.com/css?family=Bungee+Inline';

html {
  min-width: 1080px;
}

#mainForm{
  margin: 30px 50px 0 0;
  text-align: center;
}

li{
  font-family: 'Cantarell', sans-serif;
  font-size: 24px;  
}

ul{
  list-style-type: none;
}

.container{
  margin: 0 10% 0 10%;
}

.badgeImg{
  height: 60px;
  margin: 40px 0 0 40px;
}

.circle{
  width: 150px;
  height: 155px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.name{
  font-family: 'Bungee Shade', cursive;
  margin-bottom: 10px;
}

.winMajority{
  background-color: #e2ffdd;
}

.winMinority{
  background-color: #ffefef;
}

.rate{
  font-size: 28px;
}

.resultsTitle{
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  margin: 80px 0 0 30px;
}

.sortText{
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  margin-top: 60px;
}

.homeTitle{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  margin: 200px 0 0 0;
  font-size: 60px;
}

#homeButton{
  position: absolute;
  top: 0px;
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  padding: 30px;
}

a{
  text-decoration: none;
  color: black;
}

.searchDiv{
  position: relative;
  top: 20px;
  text-align: right;
}

.homeInput{
  width: 400px;
  height: 40px;
  margin: 0 0 0 40px;
}

.resultInput{
  width: 200px;
  height: 40px;
}

.badgeText{
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  margin: 80px 0 0 40px;
}

.teemoHomeImg{
  z-index: -1;
  position: absolute;
  top: 20px;
  left: -220px;
}

.loginDiv{
  margin-top: 10%;
}

.signupDiv{
  margin-top: 10%;
}

.signupBtn{
  position: absolute;
  top: 20px;
  right: 160px;
  border-style: solid;
  padding: 5px;
}

.loginBtn{
  position: absolute;
  top: 20px;
  right: 100px;
  border-style: solid;
  padding: 5px;
}

.liveContainer{
  width: 1300px;
  height: 1000px;
  margin: 50px;
}

.teamOneName{
  width: 150px;
  height: 155px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-color: #C9B093;
  float: left;
  clear: both;
}

.teamTwoName{
   width: 150px;
  height: 155px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-color: #93EDE3;
  float: left;
  clear: both;
}

.versus{
  position: absolute;
  top: 330px;
  left: 42%;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: black;
}

.liveTitle{
  font-family: 'Bungee Shade', cursive;
}

.teamOneDiv{
  margin-bottom: 130px;
  margin-top: 100px;
}

.alert{
  width: 400px;
  position: absolute;
  left: 32%;
  margin: 0;
}

span{
  margin-top: 140px;
  font-family: 'Bungee Inline', cursive;
  position: relative;
  top: 50px;
  left: 10px;
  font-size: 20px;
}


